/* (*) usado para mudar a configuraçao geral do site */
* {
    margin: 0;
    /* zarando a marigin do site */
    padding: 0;
    /* zerando o preenchimento*/
    list-style: none;
    /* removendo os estilos de listas */
    text-decoration: none;
    /* tirando a decoraçao do texto */
    font-family: Arial, Helvetica, sans-serif;
    /*fonte da letra*/

}

header i {
    color: white;
    /*cor*/
    font-size: 50px;
    /*tamanho da letra*/
}

header h1 {

    color: white;
    /*cor*/

    font-size: 25px;
    /*tamanho da letra*/
}

header nav ul {
    display: flex;
    /*deixa os itens lado a lado*/
    gap: 20px;
    /*espaçamento lateral*/
}

header nav ul li a {
    text-decoration: none;
    /*tira a linha de baixo da ancora*/
    color: white;
    /*cor*/
}

/*fim do header*/

/*começo da section-1*/
.section-1 {
    background-image: url(img-sabores/ice-cream-410330_1280.jpg);
    /*imagen de fundo*/
    padding: 200px;
    /*tamanho do fudo*/
    background-repeat: no-repeat;
    /*para não repetir a imagen*/
    background-size: cover;
    /*faz a imagem prenecher tuda a section*/
    background-position: center;
    /*deixa a imagen parada no sentro*/
    justify-content: center;
    /*faz com que a imagen fique certa*/
    align-items: center;
    /*deixa os itesn no centro*/
}

.section-1 h2 {
    color: black;
    /*cor*/
    font-size: 25px;
    /*tamanho letra*/
}

.section-1 p {
    color: black;
    /*cor*/
    font-size: 25px;
    /*tamanho letra*/
}

.section-1 span {
    color: white;
    /*cor*/
}

/*Fim da section-1*/

/*começo section-2*/

.section-2 {
    background: linear-gradient(150deg, #80b3ff 30%, #ffc2ce 100%);
    /*degrade*/
    padding: 240px;
    /*tamanho do fundo*/
    gap: 20px;
    /*espaçamento lateral*/
    text-align: center;
    /*alinha tudo*/
}

.section-2 button {
    height: 40px;
    /*altura*/
    width: 150px;
    /*largura*/
    background-color: rgba(128, 128, 128, 0.425);
    /*cor de fundo*/
    border-radius: 12px;
    /*borda lateral*/
    margin-top: 30px;
    /*distancia do topo*/
}

.section-2 button:hover {
    background-color: #fcd2da;
    /*cor de fundo*/
    border-color: #ffc2ce;
    /*cor da borda*/
    transition: 0.7s;
    /*transição*/
    color: white;
    /*cor*/
    cursor: pointer;
    /*aparece a mãozinha*/
}

.div-pai {
    display: flex;
    /*deixa os itens lado a lado*/
    justify-content: center;
    /*deixano centro*/
    gap: 20px;
    /*espaça,mento lateral*/

}

.div-pai div {
    width: 200px;
    /*lagura*/
    height: 280px;
    /*altura*/
    border-radius: 10px;
    /*bordas redondas*/
    box-shadow: 10px 25px 15px black
        /*sobra*/
}

.div-pai .div-filho1 {
    background-image: url(img-sabores/coffee-4648041_640.jpg);
    /*imagen de fundo*/
    background-repeat: no-repeat;
    /*não repetir a imagen*/
    background-position: center;
    /*deixa no centro*/
    background-size: cover;
    /*prenche todo o campo*/
}

.div-pai .div-filho1:hover {
    transform: translate(0px, 20px);
    /*a imagen desse um pouco*/
    transition: 0.7s;
    /*transição*/
}

.div-pai .div-filho2 {
    background-image: url(img-sabores/bowl-932980_640.jpg);
    /*imagen de fundo*/
    background-repeat: no-repeat;
    /*não repetir a imagen*/
    background-position: center;
    /*deixa no centro*/
    background-size: cover;
    /*prenche todo o campo*/
}


.div-pai .div-filho2:hover {
    transform: translate(0px, 20px);
    /*a imagen desse um pouco*/
    transition: 0.7s;
    /*transição*/
}

.div-pai .div-filho3 {
    background-image: url(img-sabores/dessert-6494565_640.jpg);
    /*imagen de fundo*/
    background-repeat: no-repeat;
    /*não repetir a imagen*/
    background-position: center;
    /*deixa no centro*/
    background-size: cover;
    /*prenche todo o campo*/
}

.div-pai .div-filho3:hover {
    transform: translate(0px, 20px);
    /*a imagen desse um pouco*/
    transition: 0.7s;
    /*transição*/
}

.div-tiu {
    display: flex;
    /*deixa os itens lado a lado*/
    justify-content: center;
    /*deixano centro*/
    gap: 20px;
    /*espaça,mento lateral*/
}

.div-tiu div {
    width: 200px;
    /*lagura*/
    height: 280px;
    /*altura*/
    border-radius: 10px;
    /*bordas redondas*/
    box-shadow: 10px 25px 15px black
        /*sobra*/
}

.div-tiu .div-sobrinho1 {
    background-image: url(img-sabores/cocktail-1971489_640.jpg);
    /*imagen de fundo*/
    background-repeat: no-repeat;
    /*não repetir a imagen*/
    background-position: center;
    /*deixa no centro*/
    background-size: cover;
    /*prenche todo o campo*/
    margin-top: 20px;
    /*espaçamento em encima*/
}

.div-tiu .div-sobrinho1:hover {
    transform: translate(0px, 20px);
    /*a imagen desse um pouco*/
    transition: 0.7s;
    /*transição*/
}

.div-tiu .div-sobrinho2 {
    background-image: url(img-sabores/smoothie-5528952_640.jpg);
    /*imagen de fundo*/
    background-repeat: no-repeat;
    /*não repetir a imagen*/
    background-position: center;
    /*deixa no centro*/
    background-size: cover;
    /*prenche todo o campo*/
    margin-top: 20px;
    /*espaçamento em encima*/
}

.div-tiu .div-sobrinho2:hover {
    transform: translate(0px, 20px);
    /*a imagen desse um pouco*/
    transition: 0.7s;
    /*transição*/
}

.div-tiu .div-sobrinho3 {
    background-image: url(img-sabores/shake-677437_640.jpg);
    /*imagen de fundo*/
    background-repeat: no-repeat;
    /*não repetir a imagen*/
    background-position: center;
    /*deixa no centro*/
    background-size: cover;
    /*prenche todo o campo*/
    margin-top: 20px;
    /*espaçamento em encima*/
}

.div-tiu .div-sobrinho3:hover {
    transform: translate(0px, 20px);
    /*a imagen desse um pouco*/
    transition: 0.7s;
    /*transição*/
}

/*fim section-2*/

/*começo section-3*/

.section-3 {
    padding: 180px;
    /*tamanho do fundo*/
    background-color: #fd6e8a;
    /*cor de fundo*/
    display: flex;
    /*deixa tudo lado a lado*/
    justify-content: space-evenly;
    /*da um espaço nos itens*/
}

.section-3 div {
    width: 350px;
    /*largura*/
    height: 300px;
    /*altura*/
    background-color: #fcd2da;
    /*cor de fundo*/
    padding: 25px;
    /*tamanho do fundo*/
    border-radius: 10px;
    /*tamanho da borda*/
}

/*começo footer*/

footer {
    padding: 30px;
    /*tamanho do futer*/
    background-color: #a2122f;
    /*cor de fundo*/
    display: flex;
    /*deixa os itens lado a lado*/
    justify-content: space-evenly;
    /*deixa os itens todos distanciado*/
    align-items: center;
    /*deixa os itens alinhado no centro*/
}

footer img {
    width: 100px;
    /*largura*/
}

footer .line {
    width: 95px;
    /*largura*/
    height: 1.5px;
    /*altura*/
    margin-top: 10px;
    /*distancia do topo*/
    background-color: white;
    /*cor de fundo*/
}

.div-icones a {
    text-decoration: none;
    /*tira a linha debaixo da ancora*/
    color: white;
    /*cor*/
}

.div-icones a i {
    background-color: #fcd2da;
    /*cor de fundo*/
    padding: 7px;
    /*tamanho do fundo*/
    font-size: 35px;
    /*tamanho da letra*/
    border-radius: 10px;
    /*deixa a ponta redonda*/
}

.div-icones a i:hover {
    background-color: #fd6e8a;
    /*cor de fundo*/
    transition: 0.7s;
    /*tempo de transição*/

}

/*fim do footer*/

html {
    scroll-behavior: smooth;
    /*vai decendo como tiveçe arrastando para baixo*/
}